/*client/src/index.css*/
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer base {
  :root {
    --c1: #000000;   /* primary surface */
    --c2: #ffee00;   /* highlight / accent */
    --c3: #ffffff;   /* main text */
    --c4: #f5f5f5;   /* soft neutral */
    --c5: #ff4fff;   /* neon glow */
  }
}

@layer components {
  .section-style {
    @apply 
    w-full 
    min-h-screen 
    flex 
    justify-center 
    items-center
    /* bg-red-600/10; */
  }
  .section-content{
    @apply
    w-full
    mx-auto
    /* bg-blue-600/10; */
  }
  .center-div {
    @apply
    flex
    justify-center
    items-center
  }
  .responsiveness {
  @apply 
    w-full              /* full width always */
    /* 2xl:max-w-7xl       optional: extra-large screens */
    xl:max-w-[930px]        /* 1280px+ */
    lg:max-w-[975px]    /* 1024px+ */
    md:max-w-[730px]    /* 768px+ */
    sm:max-w-xl         /* 640px+ */
    max-w-[370px]       /* default for mobile / very small screens */
    mx-auto;            /* center horizontally */
  }
}

/* #region Scroll Stuff */
html, body, #root {
  overflow-x: hidden; /* Prevent horizontal scroll */
  overflow-y: auto; /* Allow vertical scroll */
}

/* Hide scrollbar while keeping scroll functionality */
html::-webkit-scrollbar,
body::-webkit-scrollbar {
  display: none;
}

html,
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
/* #endregion */

/* #region Custom blink animation */
@keyframes blink {
  0%, 49% { opacity: 1; }
  50%, 100% { opacity: 0; }
}

.caret {
  display: inline-block;
  width: 2px;          /* thin vertical line */
  height: 1.35em;         /* match text height */
  background-color: white;
  vertical-align: bottom;
  transform: translateY(-2px);
}

.caret.blink {
  animation: blink 1s step-start infinite;
}
/* #endregion */