@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .journey-header {

    -webkit-text-stroke: 1px #fdf5c6de;
  }

  .journey-subheader {

    -webkit-text-stroke: 0.1px #fdf5c6de;
  }
}
