.memory-node {
  background: rgba(255, 255, 255, 0.02);
  border-radius: 6px;
  z-index: 20;

  box-shadow:
    0 0 12px rgba(255, 255, 255, 0.18),
    0 0 42px rgba(120, 220, 255, 0.14);
}

.stuff{
    background: rgba(255, 255, 255, 0.178);
}

/* frame */
.memory-node::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.65),
    rgba(255, 255, 255, 0.15) 35%,
    rgba(255, 255, 255, 0.05) 65%,
    rgba(255, 255, 255, 0.35)
  );

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  padding: 1px;

  pointer-events: none;
}

/* subtle inner echo */
.memory-node::after {
  content: "";
  position: absolute;
  inset: 3px;
  border-radius: 4px;

  border: 1px solid rgba(255, 255, 255, 0.08);
  pointer-events: none;
}

.memory-node svg {
  color: rgb(255, 255, 255);
}

.memory-card {
  padding: 17px;

  background: rgba(255, 255, 255, 0.015);
  border-radius: 7px;
  z-index: 20;

  backdrop-filter: blur(8px);

  box-shadow:
    0 0 10px rgba(255, 255, 255, 0.14),
    0 0 28px rgba(120, 220, 255, 0.08);
}

/* frame */
.memory-card::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  background: linear-gradient(
    135deg,
    rgba(255, 255, 255, 0.45),
    rgba(255, 255, 255, 0.14) 35%,
    rgba(255, 255, 255, 0.14) 65%,
    rgba(255, 255, 255, 0.45)
  );

  mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  mask-composite: exclude;
  padding: 1px;

  pointer-events: none;
}


/* inner soft line */
.memory-card::after {
  content: "";
  position: absolute;
  inset: 6px;
  border-radius: 5px;

  border: 1px solid rgba(255, 255, 255, 0.06);
  pointer-events: none;
}

.memory-card-title{
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.39);
    -webkit-text-stroke: .7px #f0ecd9c4;
}

