@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {

  .journey-header {
    text-shadow: 0 0 16px rgba(255, 255, 255, 0.479);
    -webkit-text-stroke: 1px #fdf5c6de;
  }

  .journey-subheader {
    text-shadow: 0 0 7px rgba(255, 255, 255, 0.479);
    -webkit-text-stroke: 0.1px #fdf5c6de;
  }


}
