@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .text-shadow {
    text-shadow: 0 0 3px #3b82f6;
  }

  .text-shadow-gradient {
   filter: drop-shadow(0 0 12px #a855f7);
  }
}
