@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .holo-flicker-once {
    animation: holoFlicker 0.15s linear;
  }
}

@layer base {
  @keyframes holoFlicker {
    0% {
      opacity: 1;
      transform: translateX(0);
    }
    20% {
      opacity: 0.5;
    }
    40% {
      transform: translateX(2px);
    }
    60% {
      opacity: 0.7;
      transform: translateX(-2px);
    }
    80% {
      opacity: 0.4;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
}
